@charset "UTF-8";

*{
    font-family: sans-serif;
}
body{
    background-color: rgb(164, 228, 164);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(25, 71, 25);
}
h1#principal{
text-align: center;
background-color: rgb(25, 71, 25);
color: white;
}
h2{
    color: rgb(43, 151, 43);
}
.basico{
color: green;
}
.intermediario{
color: yellow;
}
.avancado{
color: red;
}
.destaque{
    background-color: rgb(255, 255, 77);
}